@media screen and ( max-width: 768px) {
    #sidebar {
        width: 200px;
    }
    #main-navbar {
        max-width: 400px;
    }
    header {
        width: calc(100% - 200px);
    }
    main {
        width: calc(100% - 200px);
    }
}