@media screen and ( min-width: 768px) {
    #sidebar {
        width: 200px;
    }
    #sidebar a:first-child {
        display: none;
    }
    #sidebar #logo {
        width: 150px;
    }
    #sidebar p,
    #sidebar li {
        font-size: 12px;
        font-weight: 900;
        color: gray;
    }
    #sidebar h3 {
        font-size: 0.8em;
    }
    #main-navbar {
        max-width: 400px;
    }
    header {
        width: calc(100% - 200px);
    }
    main {
        width: calc(100% - 200px);
    }
    .small-content {
        display: block;
    }
}