/* Generics */

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Montserrat', sans-serif;
}

.float-left {
    float: left;
}

.clearfix {
    clear: both;
    content: '';
    display: table;
}


/* LAYOUT */

.user-view {
    display: flex;
    flex-flow: column wrap;
    justify-content: space-between;
    width: 100vw;
    height: 100vh;
}

.container {
    display: flex;
    flex-flow: column wrap;
    height: 90%;
    width: 100%;
}

header {
    background-color: #080b12;
    height: 10%;
    width: 90%;
    position: relative;
}

main {
    background-color: #141922;
    height: 90%;
    width: 90%;
    overflow-y: scroll;
}

main img {
    width: 200px;
}

#sidebar {
    background-color: black;
    justify-content: flex-start;
    order: -1;
    height: 100%;
    width: 10%;
    text-align: center;
    position: relative;
}


/* HEADER */

#header-button {
    border-radius: 20px;
    height: 40px;
    width: 200px;
    border: 1px solid white;
    text-align: center;
    line-height: 38px;
    text-decoration: none;
    font-size: 12px;
    font-weight: 900;
    position: absolute;
    top: 50%;
    left: 90%;
    transform: translate(-90%, -50%);
}


/* MAIN */

.row {
    width: 100%;
}

.col-left,
.col-right {
    padding-left: 20px;
    padding-top: 30px;
}

.card {
    margin: 5px;
}


/* SIDEBAR */

#circle-down {
    position: absolute;
    bottom: 10%;
    left: 50%;
    transform: translate(-50%, -50%);
}

#profile {
    position: absolute;
    bottom: 0;
    border-radius: 50%;
    width: 35px;
    height: 35px;
    left: 50%;
    transform: translate(-50%, -50%);
}

#sidebar img {
    width: 25px;
}

#sidebar span {
    display: block;
    margin-top: 10px;
}

#player {
    background-color: #282828;
    height: 10%;
    width: 100%;
}


/* COLOURS */

.white {
    color: white;
}

.bg-gray {
    background-color: gray;
}

.bg-night-blue {
    background-color: #080b12;
}


/* SIZES */

.w50 {
    width: 50%;
}